.faqTitle {
  font-family: Source Sans Pro, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  
  @media (min-width: 480px) {
    font-size: 24px;
  }
  
  @media (min-width: 768px) {
    font-size: 28px;
  }
  
  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

.faqSubtitle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  @media (min-width: 480px) {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  @media (min-width: 768px) {
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  
  @media (min-width: 1024px) {
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 24px;
  }
}

.faqText {
  font-size: 14px;
  line-height: 18px;
  
  @media (min-width: 480px) {
    font-size: 16px;
    line-height: 22px;
  }
  
  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 24px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.faqLink {
  
}
