@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('./SourceSansPro-Light.woff2') format('woff2'),
    url('./SourceSansPro-Light.woff') format('woff'),
    url('./SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('./SourceSansPro-Regular.woff2') format('woff2'),
    url('./SourceSansPro-Regular.woff') format('woff'),
    url('./SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('./SourceSansPro-SemiBold.woff2') format('woff2'),
    url('./SourceSansPro-SemiBold.woff') format('woff'),
    url('./SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('./SourceSansPro-Bold.woff2') format('woff2'),
    url('./SourceSansPro-Bold.woff') format('woff'),
    url('./SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
    url('./SourceSansPro-Black.woff2') format('woff2'),
    url('./SourceSansPro-Black.woff') format('woff'),
    url('./SourceSansPro-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu-Normal'), local('UbuntuNormal'),
  url('./Ubuntu-M.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu-Bold'), local('UbuntuBold'),
  url('./Ubuntu-B.ttf') format('truetype');
}
