.certificateWrapper {
  @media (min-width: 1170px) {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logoWrapper {
  position: fixed;
  top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  
  @media (min-width: 480px) {
    top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media (min-width: 768px) {
    top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (min-width: 1024px) {
    top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.certificateDetails {
  padding-top: 20px;
  width: 100%;
  padding-left: 20px;
  padding-right: 75px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: 480px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 140px;
  }
  
  @media(min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 170px;
  }
  
  @media(min-width: 1024px) {
    padding-left: 80px;
    padding-right: 200px;
  }
  
  @media(min-width: 1170px) {
    padding-left: 125px;
    padding-right: 200px;

    margin-left: auto;
    margin-right: auto;
  }
  @media(min-width: 1300px) {
    padding-left: 0;
    padding-right: 100px;
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
  }
}

.certificateTitle {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  
  @media(min-width: 480px) {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 24px;
  }
  
  @media(min-width: 768px) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 20px;
  }
  
  @media(min-width: 1024px) {
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 45px;
  }
}

.certificateSubtitle {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: center;
  
  @media(min-width: 480px) {
    margin-bottom: 35px;
  }
  
  @media(min-width: 768px) {
    margin-bottom: 40px;
  }
  
  @media(min-width: 1024px) {
    padding-left: 39px;
    padding-right: 39px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 48px;
  }
}

.certificateSocial {
  margin-bottom: 30px;
  
  @media(min-width: 480px) {
    margin-bottom: 35px;
  }
  
  @media(min-width: 768px) {
    margin-bottom: 40px;
  }
  
  @media(min-width: 1024px) {
    margin-bottom: 50px;
  }
}

.certificateImage {
  margin-bottom: 30px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  
  @media(min-width: 480px) {
    margin-bottom: 35px;
  }
  
  @media(min-width: 768px) {
    margin-bottom: 40px;
  }
  
  @media(min-width: 1024px) {
    margin-bottom: 50px;
  }
}

.certificateButton {
  width: 200px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-left: 12px;
}
